.direita{
   position:absolute;
   right:20px;
}

.topo{
   position:absolute;
   top:0px;
}

@media screen and (max-width:425px){
  .classe-nova{
     display:none;
   }
}

@media screen and (max-width:768px){
  .classe-nova-tel{
     display:none;
   }
}