table, td, th, tr, div{
	font-family: arial, sans-serif;
}

#t02 {
	font-size: 10px;
}

#t02 > td, th, tr {
	border: 1px solid black;
}

#t02 th{
	font-size: 10px;


}

.notas{
	text-align: right;
}

.nome{
	width: 10%;
}

#t02 td{
	border: 1px solid black;
	padding: 5px 5px 5px 5px;

}

.frase td{
	padding-top: 20px;
}

.assinatura td{
	
	text-align: center;
	padding-top: 50px;
	transform: translateX(50%);
}

.frequencia_anual{
	text-align: center;
}

